@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  background: #fbfbfb;
}

.gradient-overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    179deg,
    rgba(0, 193, 157, 0) -25.42%,
    rgba(2, 0, 67, 0.47) 107.11%
  );
  z-index: 1;
  border-radius: inherit;
}
.background-opacity::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(2, 0, 67, 0.6);
  border-radius: 20px;
  z-index: 0;
}

.swiper-pagination {
  position: static;
  margin-top: 30px;
}

.swiper-pagination-bullet-active {
  background: #ffc637 !important;
}

.gradient-overlay2::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    648.07% 142.88% at 98.23% 78.35%,
    #020043 0%,
    rgba(2, 0, 67, 0.3) 100%
  );
  border-radius: inherit;
  z-index: 1;
}
